body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #151f30;
}
body::-webkit-scrollbar-thumb {
  background-color: #fd5b61;
  outline: 1px solid #151f30;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image {
  @apply h-[300px] sm:h-[400px] lg:h-[500px] xl:h-[600px] 2xl:h-[700px];
}

.flexible-btn {
  @apply font-bold my-3 text-purple-500 bg-white px-10 py-4 rounded-full shadow-md hover:shadow-xl active:scale-90 transform duration-150;
}

.nearby-places-container {
  @apply flex items-center m-2 mt-5 space-x-4 rounded-xl cursor-pointer hover:bg-gray-100 hover:scale-105 transition transform duration-200 ease-out;
}

.getaways {
  @apply box-border flex flex-wrap items-stretch justify-start -mx-2;
  width: calc(100% + 16px);
}

.icons-hover {
  @apply hover:scale-105 transition transform duration-100 ease-out cursor-pointer;
}

.tab-panel-card-effect {
  @apply hover:bg-gray-100 bg-white rounded-xl p-3 focus:bg-white focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-500 ring-white ring-opacity-60;
}

.guesses-btn {
  @apply no-underline border border-solid h-8 w-8 flex justify-center items-center text-center p-3 rounded-full cursor-pointer;
}

.guesses-btn-colors-active {
  @apply hover:text-gray-900 hover:border-gray-900 border-gray-500 text-gray-600 bg-white;
}

.guesses-btn-colors-disbled {
  @apply hover:text-gray-500 border-gray-300 text-gray-400 bg-white cursor-not-allowed;
}

.filters-btn {
  @apply rounded-full hover:border-gray-900 active:scale-95 active:bg-gray-100 bg-white border-solid border cursor-pointer leading-4 m-0 py-2 px-4 text-center transition transform duration-100 ease-out;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
